@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@500&display=swap');

:root {
    --primary-color: black;
    --secondary-color: black;
    --accent1-color: White;
    --accent2-color: #0096c7;
  
   
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
  
    --nav-background-color: #caf0f8;
    --nav-link-color: black;
    --nav-hover-link-color: black;
    --nav-hover-background-color: caf0f8;  
} 
    
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
  
.hero {
    position: relative;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
.hero h1 { 
    position: absolute;
    top: 15px;
    left: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--accent1-color);
}
  
.hero article img {
    float: right;
    width: 250px;
    height: auto;
}
  
.hero article {
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.5);  /* <!--var(--primary-color);-->*/
    font-family: var(--paragraph-font);
    color: var(--accent1-color); 
    width: auto;
    height: auto;
    padding: 10px;
}
  
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  
header nav {
    display: block;
    color: var(--nav-link-color);
    font-family: var(--heading-font);
    padding: 1rem;
}
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
    text-decoration: none;
}
    
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}