@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@500&display=swap');

:root {
    --primary-color: #90e0ef    ;
    --secondary-color: #48cae4 ;
    --accent1-color: #00b4d8;
    --accent2-color: #0096c7;
  
   
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
  
    --nav-background-color: #caf0f8;
    --nav-link-color: #03045e;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #03045e
  
  } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

body {
    padding: 0 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(black);
    text-align: center;
}

img {
    max-width: 100%;
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
}

header, main, footer {
    max-width: 1210px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.header-nav {
    font-size: 0;
    display: flex;
    justify-content: center;
}

.header-nav a {
    display: inline-block;
    padding: 10px 60px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background: var(--secondary-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 16px;
}

.header-nav a:hover {
    color: var(--nav-link-color);
}

.hero,
main section {
    margin-top: 40px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero-bg {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

.hero-content {
    position: absolute;
    top: 170px;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.5);
}

.hero-content::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.hero-content-img {
    float: right;
    margin-left: 20px;
    width: 250px;
    height: auto;
}

.history-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.adventure-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
}

.adventure figure {
    max-width: 100%;
    display: grid;
    align-content: end;
}

.adventure figcaption {
    padding-top: 10px;
    text-align: center;
}

footer {
    margin-top: 40px;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    background-color: var(--accent2-color);
}

footer p {
    text-align: center;
    padding: 0 20px;
}

.sociallinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.sociallinks a {
    text-decoration: none;
    display: inline-block;
    width: 50px;
}